node_modules/
package-lock.json
scripts/
scripts2/
scripts3/
scripts4/
scripts5/
scripts6/
scripts7/
scripts8/
scripts9/
scripts10/
scripts11/
scripts12/
scripts13/
scripts14/
scripts15/
scripts16/
scripts17/
scripts18/
scripts19/
scripts20/
scripts21/
scripts22/
scripts23/
scripts24/
old files/
Legacy FORD OPAC/
web.config
*.dll
dist/