@font-face {
  font-family: "Ford Antenna";
  src: url("../fonts/antenna-regular.woff2") format("woff2");
}

* {
  font-family: "Ford Antenna";
}

#headerShadow {
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.09),
    0 20px 20px 0 rgba(0, 0, 0, 0.1), 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.buttonShadow {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1), 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

/* Start of dropdown UI */

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4d4d4d;
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
}
.filterDropdown {
  max-height: 300px;
  visibility: visible;
  transition: all 0.17s linear;
  

}
.hideDropdown {
  max-height: 0;
  visibility: hidden;

}

@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}

/* End of dropdown UI */

/* Color Filter */

.selectedColorFilter{
  border: 2px solid white;
  outline: 1px solid black;
}

/* End of Color Filter */



/* FORD UI CSS */

.fmc-select option {
  background-color: #f4f4f4;
  margin-top: 0;
  outline: 1px solid #962929;
  border-radius: 3px;
}
.fmc-select:focus,
.fmc-select:active,
.fmc-select:focus-visible {
  box-sizing: border-box;
  height: 50px;
  border: 1px solid #6e6e6e;
  outline: 0;
}
.fmc-select {
  box-sizing: border-box;
  height: 50px;
  border: 1px solid #6e6e6e;
  /* border-radius: 3px; */
  display: block;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-repeat: no-repeat;
  background-position: right 1.5rem center;

  background-size: 16px;
  line-height: 2rem;
  appearance: none;
  background-color: transparent;
}
